{
  "parser": "babel-eslint",
  "plugins": [ "mocha" ],
  "extends": "airbnb",
  "rules": {
    "react/prefer-stateless-function": 0,
    "max-len": 0,
    "comma-dangle": 0,
    "react/jsx-no-bind": 0, // TODO remove this
    "react/prefer-es6-class": 0, // TODO remove this
    "react/sort-comp": [2, {         // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/sort-comp.md
      "order": [
        "constructor",
        "displayName",
        "propTypes",
        "contextTypes",
        "childContextTypes",
        "mixins",
        "statics",
        "defaultProps",
        "getDefaultProps",
        "state",
        "getInitialState",
        "getChildContext",
        "componentWillMount",
        "componentDidMount",
        "componentWillReceiveProps",
        "shouldComponentUpdate",
        "componentWillUpdate",
        "componentDidUpdate",
        "componentWillUnmount",
        "/^_on.+$/",
        "/^_get.+$/",
        "/^_trigger.+$/",
        "/^_.+$/",
        "/^_render.+$/",
        "render"
      ]
    }]
  }
}
