# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# macOS
*.DS_Store

# IDE
.idea

# Browserify cache & build files
bundle.js
.bundle.js

# Belle build with babel
/lib/

# Belle docs after npm install
/docs/css/googlecode.css

# NPM debug
npm-debug.log
npm-debug.log*
