.base {
  background: rgb(238, 238, 238);
  border-width: 1px 0px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgb(238, 238, 238);
  border-bottom-color: rgb(189, 189, 189);
  border-radius: 2px;
  box-sizing: border-box;
  color: rgb(97, 97, 97);
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  line-height: 26px;
  padding: 8px 14px 6px;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;

  /* animations */
  transition: background 0.1s, border-top 0.1s, border-bottom 0.1s, color 0.1s;
  transition-timing-function: ease-out;

  /*
  To avoid any kind of flickering the user won't get feedback
  for selecting the button text
  */
  user-select: none;

  /* This button can only be pressed */
  touch-action: manipulation;

  /*
  Prevent flickering while tapping on WebKit
  http://stackoverflow.com/a/3516243/837709
  */
  -webkit-tap-highlight-color: transparent;
}

.base:hover, .base:focus {
  background: #F5F5F5;
  border-top: 1px solid #F5F5F5;
  color: #757575;
  /* avoid default focus behaviour */
  outline: 0;
}

.base:active {
  background: #E0E0E0;
  color: #424242;
  border-bottom: 1px solid #E0E0E0;
  border-top: 1px solid #BDBDBD;
}

.base:disabled {
  color: #C5C4C4;
  cursor: not-allowed;
}

.base:disabled:hover {
  color: #D0D0D0;
}
